* {
    margin: 0;
    padding: 0;
}
body {
    color:black;
    font-family: 'Times New Roman', Times, serif;
}
.color-navbar{
    background-color: #162B4E;
}
header{
    background-image: url(../imgs/header.jpg);
    height: 700px;
    background-size: cover;
    background-position: center;
    align-items: center;
    color: white;
    font-size: 1.75em;
}    
header p{
    width: 60%;
}
.size-main {
    font-size: 2em;
}
.size-main h2{
    font-size: 1.5em;

}
.style-card{
    width: 100%;
    height: 600px;
}
.style-card img{
    height: 400px;
}
.fondo{
    background-color: rgb(56, 44, 107);
}
.bordes{
    border-style: solid;
    border-width: 5px;
    border-color: rgb(98, 84, 158);
}
footer{
    background-color: #162B4E;
    height: 100px;
    color: white;
}
footer img{
    height: 80px;
    width: auto;
}

