* {
    margin: 0;
    padding: 0;
}
body {
    color:black;
    font-family: 'Times New Roman', Times, serif;
}
.color-navbar{
    background-color: #162B4E;
}
header{
    background-image: url(../imgs/header.jpg);
    height: 1000px;
    background-size: cover;
    background-position: center;
    align-items: center;
    color: white;
    font-size: 3em;
}    
header p{
    width: 60%;
}
.size-edu {
    font-size: 2em;
}
.size-edu h2{
    font-size: 1.5em;

}